@font-face {
  font-family: poppins;
  src: url(/fonts/Poppins/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.top-header {
  background-color: #1D1D1D;
  padding: 10px 0;
}

.nav {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #919191;
  font-size: 19px;
  font-weight: 400;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

input[type="search"] {
  border: none;
  background: none;
  border: 1px solid #919191;
  padding: 7px 10px 7px 35px;
  border-radius: 20px;
  color: #fff;
  outline: 0;
  font-size: 16px;
}

.has-search .search-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #919191;
}

.menu-items ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.menu-items ul li a {
  color: #919191;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

.menu-items ul li:nth-child(2) a{
  color: #25e945;
}

.menu-items ul li:nth-child(5) a,
.menu-items ul li:nth-child(7) a{
  color: #fff;
}


.menu-items ul li:nth-child(1):hover a,
.menu-items ul li:nth-child(2):hover a,
.menu-items ul li:nth-child(3):hover a,
.menu-items ul li:nth-child(4):hover a{
  color: #fff;
}

.menu-items ul li:nth-child(5):hover a,
.menu-items ul li:nth-child(7):hover a{
  color: #919191;
}

span.line {
  color: #fff;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}